<div class="row">
  <h3>Login</h3>
<form class="" ng-submit="main.login(main.log)" method="post">
<div class="input-field">
  <label>Username</label><input type="text" name="userlog" ng-model="main.log.username">
</div>
<div class="input-field">
  <label>Password</label><input type="password" name="userpass" ng-model="main.log.password">
</div>
<button class="indigo accent-2 btn waves-effect waves-light" type="submit" name="Submit">Login</button>
</form>
</div>
<div class="row">
<h3>Register</h3>
<form ng-submit="main.signup(main.reginfo)" method="post">
  <div class="input-field">
  <label>First Name: </label><input type="text" name="regfirst" ng-model="main.reginfo.name_first">
</div>
<div class="input-field">
  <label>Last Name:</label><input type="text" name="reglast" ng-model="main.reginfo.name_last">
</div>
<div class="input-field">
  <label>Username: </label><input type="text" name="reguser" ng-model="main.reginfo.username">
</div>
<div class="input-field">
  <label>Password: </label><input type="password" name="regpass" ng-model="main.reginfo.password">
</div>
<div class="input-field">
  <label>Email Address: </label><input type="text" name="email_address" ng-model="main.reginfo.email_address">
</div>
<button class="indigo accent-2 btn waves-effect waves-light" type="submit" name="Submit">Register</button>
</form>
</div>
